polkit.addRule(function(action, subject) {
    if (subject.user !== "rpi") {
        return polkit.Result.NOT_HANDLED;
    }
    if (action.id === "org.freedesktop.NetworkManager.network-control" ||
        action.id === "org.freedesktop.NetworkManager.wifi.scan" ||
        action.id === "org.freedesktop.NetworkManager.settings.modify.own" ||
        action.id === "org.freedesktop.NetworkManager.settings.modify.system" ||
        action.id === "org.freedesktop.timedate1.set-timezone") {
        return polkit.Result.YES;
    }
    return polkit.Result.NOT_HANDLED;
});
